<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - practiceWatchKit WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - practiceWatchKit WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>practiceWatchKit WatchKit 1 App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>practiceWatchKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32A53BB21BD4DF9A001B04EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32A53BC61BD4DF9A001B04EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32A53BD11BD4DF9A001B04EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32A53BF61BD4E4AF001B04EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
